.container {
	border: var(--border);
	border-top: none;
	background-color: #fff;
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 1em;
	padding-right: 1em;
}

.container svg {
	position: relative;
	height: 1.1em;
	width: 1.1em;
	top: 0.1em;
}

.container h1, .container span {
	vertical-align: middle;
}

.title {
	display: var(--title-display);
	font-size: var(--title-font-size);
	line-height: 1.1;
	width: var(--title-inner-width);
}

.close {
	color: var(--color-emphasis)
}

.cmmmLink {
	font-size: 1.75em;
}

