.container {
	border: var(--border);
	border-top: none;
	background-color: #fff;
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 1em;
	padding-right: 1em;
}

.container svg {
	position: relative;
	height: 1.1em;
	width: 1.1em;
	top: 0.1em;
}

.container h1, .container span {
	vertical-align: middle;
}

.flexLinks {
	display: flex;
	align-items: center;
	font-size: 1.2em;
}

.title {
	color: unset;
	display: var(--title-display);
	font-size: var(--title-font-size);
	line-height: 1.05;
	margin-left: 0.1em;
	text-decoration: none;
	width: var(--title-inner-width);
}

.title:hover {
	color: var(--main-font-color);
	opacity: 0.6;
}

.close {
	color: var(--color-emphasis)
}

.cmmmLink {
	font-size: 1.75em;
}

