.container {
	border: var(--border);
	border-top: none;
	background-color: #fff;
	height: var(--header-height);
	display: flex;
	align-items: center;
	padding-left: 1em;
}

.container svg {
	height: 1.1em;
	width: 1.1em;
}

.container h1, .container span {
	vertical-align: middle;
}

.close {
	color: var(--color-emphasis)
}