.container {
	align-items: center;
	display: flex;
	height: var(--navigation-height);
	justify-content: space-around;
	left: var(--site-title-width);
	position: absolute;
	top: 0;
	width: calc(100% - var(--site-title-width));
}

@media (max-width: 907px) {
  .container {
		bottom: 0;
		height: var(--navigation-height);
		display: block;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: flex-start;
		justify-content: flex-start;
		left: 0;
    top: unset;
		width: 100%;
		margin-top: 0.5em;
		padding-left: 1em;
		padding-right: 1em;
  }

	.container > div {
		width: 100%;
	}

	.container > aside {
		margin-top: 0.4em;
		order: 1;
	}

	
	.container > div:not(:last-child) {
		margin-bottom: 0.8em;
	}

}