.container {
  background-color: #fffffff9;
  height: 100%;
  left: var(--menu-left);
  position: absolute;
  top: var(--header-height);
  width: var(--menu-width);
  opacity: 1;
  overflow: scroll;
  padding: 4em;
  pointer-events: all;
  transform: translateX(0%);
  transition: all 500ms ease-in-out;
}

.container[data-state="closed"] {
  opacity: 0.1;
  pointer-events: none;
  transform: translateX(100%);
}