.backdrop {
	background-color: #fffd;
	left: 0;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

.container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}