.headline {
	margin-top: 0.5em;
	padding-left: 1em;
	width: 100%;
}

.containerInfos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}


