.container {
	display: flex;
	flex-wrap: wrap;
	height: calc(100% - (var(--header-height) + var(--navigation-height)));
}

.container section {
	border-top: 1px black solid;
	height: var(--visualization_section_height);
	position: relative;
	width: var(--visualization_section_width);
}

.container section:last-child {
	border-left: 1px black solid;
}

.map {
	position: relative;
	height: 80%;
	width: 100%;
}

.info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 20%;
}

/* TODO: Move this to ._app.css */
@media (max-width: 600px) {
  .map {
    height: 100%;
  }
	.info{
		display: none;
	}
}