.container {
	display: flex;
	flex-wrap: wrap;
	height: var(--visualization-height);
}

.container > :nth-child(odd) {
	border-right: var(--border);
}

.map {
	height: var(--map-height);
	position: relative;
	width: var(--map-width);
}

.info {
	display: var(--info-display);
	height: 20%;
	width: 50%;
}

@media (max-width: 907px) {
	.container > :nth-child(odd) {
		border-right: none;
	}
	.container > section {
		border-bottom: var(--border);
	}
}