.container {
	display: flex;
	flex-wrap: wrap;
	height: calc(100% - (var(--header-height) + var(--navigation-height)));
}

.container section {
	border-top: 1px black solid;
	height: var(--visualization-section-height);
	position: relative;
	width: var(--visualization-section-width);
}

.container section:last-child {
	border-left: 1px black solid;
}

.map {
	position: relative;
	height: var(--visualization-map-height);
	width: 100%;
}

.info {
	display: var(--visualization-info-display);
	flex-direction: row;
	justify-content: space-between;
	height: 20%;
}