.container {
	position: relative;
	height: 100%;
	width: 100%;
}

.headline {
	width: 100%;
}

.chart {
height: 100%;
}

.squareContainer {
	overflow: scroll;
	overflow-wrap: break-word;
	width: calc(17vh - var(--header-height));
	height: calc(50vw - var(--visualization-count-width));
	font-size: 1em;
	line-height: 1em;
	transform: rotate(-90deg) translateX(-100%);
	transform-origin: top left;
	padding-bottom: 5em;
}

.squareContainer::-webkit-scrollbar {
  display: none;
}

.fade {
	background-image: linear-gradient(to right,#fff0, #fff);
	position: absolute;
	width: 50%;
	height: calc(17vh - var(--header-height));
	right: 0;
	bottom: 0;
	pointer-events: none;
}